<!-- templates/registration/password_reset_complete.html -->
{% extends "plantillas/Restaurant.html" %}

{% block title %}Password reset complete{% endblock %}

{% block contenido %}
<div class="fondoadministrador">
  
  <article style="padding: 0%;" class="articuloform"></article>
    <h1 class="tituloadministrador"  style="color:#D35400;">Su contraseña a sido cambiado exitosamente </h1>
    <h4 class="titulorecuperar" >  ahora puede iniciar sesión con su nueva contraseña</h4>
  </article> 
</div >

{% endblock %}
 
 