<!-- templates/registration/password_reset_confirm.html -->
{% extends "plantillas/Restaurant.html" %}

{% block contenido %}
<div class="fondoadministrador">
  
  <article style="padding: 0%;" class="articuloform"></article>
    <h1 class="tituloadministrador"  style="color:#D35400;">Ingrese y confirme su nueva contraseña </h1>
  </article> 
   
  <form class="form" method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Cambiar mi Contraseña">
  </form>
  

</div>

{% endblock %}
