{% extends 'plantillas/Restaurant.html' %}


{% block contenido %}

<div class="fondofinanciera">
    {% if user.is_authenticated %}
    <H1 style="font-family: 'Handlee';" class="titulofinanciera">Bienvenido Financiera: {{user.username}}</H1>
    {% endif %}

    <div class="divcentrado">
        
        <nav class="menuvertical">
            <ul class="ulmenus"> 
                <li class="li"> <a  href="IngresoEgresos" >  <span class="icon-file-text2"></span> </span> Registro Egresos </a> </li>
            </ul> 

            <ul class="ulmenus"> 
                <li class="li"> <a  href="MostrarProveedores" >  <span class="icon-address-book"></span> </span> Proveedores </a> </li>
            </ul> 
            <ul class="ulmenus"> 
                <li class="li"> <a href="MostrarMovimientosFinancieros" >  <span class="icon-stack"> </span>Detalles ingresos/egresos </a> </li>
            </ul> 


            <ul class="ulmenus"> 
                <li > <a href="financieraListarIngresosDias" >  <span class="icon-calculator"> </span> Calculos Ganancias</a> </li>
            </ul> 

            <ul class="ulmenus">
                <li class="li"> <a href="http://127.0.0.1:8000/accounts/logout/" >  <span class="icon-exit"> </span> Cerrar Sesión</a> </li>
            </ul> 

        </nav>

    </div>

{% endblock %}