{% extends 'plantillas/Restaurant.html' %}


{% block contenido %}

<div class="fondococinero">
    <H1 class="titulococinero">MENU Cocinero:</H1>
    <nav class="menuvertical">
        <ul class="ulmenus"> 
        <li> <a href="http://127.0.0.1:8000">Pedidos</a> </li>
        </ul> 
    
    </nav>
    <nav class="menuvertical">
        <ul class="ulmenus"> 
        <li> <a href="http://127.0.0.1:8000">Ingreso de Recetas</a> </li>
        </ul> 
    
    </nav>

    <nav class="menuvertical">
        <ul class="ulmenus"> 
        <li> <a href="http://127.0.0.1:8000/accounts/logout/">Solicitud de Ingredientes</a> </li>
        </ul> 
    </nav>

    <nav class="menuvertical">
        <ul class="ulmenus"> 
        <li> <a href="http://127.0.0.1:8000/accounts/logout/">Cerrar Sesión</a> </li>
        </ul> 
    
    </nav>
</div>


{% endblock %}