{% extends 'plantillas/Restaurant.html' %}


{% block contenido %}

<div class="fondoadministrador">
    {% if user.is_authenticated %}
    <H1 class="tituloadministrador">Bienvenido Administrador: {{user.username}}</H1>
    {% endif %}

    <div class="divcentrado">
        
        <nav class="menuvertical">
            <ul class="ulmenus"> 
                <li>
                    <a href="http://127.0.0.1:8000/Inventario" >
                        <span class="icon-inventory"> </span> Inventario
                    </a>
                </li>
            </ul> 

            <ul class="ulmenus"> 
                <li>
                    <a href="http://127.0.0.1:8000/DatosClientes" >
                        <span class="icon-users1"> </span> Datos Clientes
                    </a>
                </li>
            </ul> 

            <ul class="ulmenus"> 
                <li>
                    <a href="http://127.0.0.1:8000/DatosMesas" >
                        <span class="icon-list1"> </span> Datos Mesas
                    </a>
                </li>
            </ul> 

            <ul class="ulmenus"> 
                <li>
                    <a href="http://127.0.0.1:8000/Resumen" >
                        <span class="icon-document-table1"> </span> Resumen 
                    </a>
                </li>
            </ul> 

            <ul class="ulmenus"> 
                <li>
                    <a href="http://127.0.0.1:8000/accounts/logout/" >
                        <span class="icon-exit"> </span> Cerrar Sesión
                    </a>
                </li>
            </ul> 


        </nav>

    </div>
   

{% endblock %}