{% extends 'plantillas/Restaurant.html' %}


{% block contenido %}

<div class="fondococinero">
    {% if user.is_authenticated %}
    <H1 class="titulococinero">Bienvenido Cocinero: {{user.username}}</H1>
    {% endif %}
    <img src="static/img/admin_person_user_man_2839.png" class="admin" >

    <nav class="menuvertical">
        <ul class="ulmenus"> 
        <li> <a href="http://127.0.0.1:8000" class="button">  <span class="icon-spoon-knife"> </span> Pedidos</a> </li>
        </ul> 
    
    </nav>
    <nav class="menuvertical">
        <ul class="ulmenus"> 
        <li> <a href="http://127.0.0.1:8000" class="button">  <span class="icon-pushpin"> </span> Ingreso de Recetas</a> </li>
        </ul> 
    
    </nav>

    <nav class="menuvertical">
        <ul class="ulmenus"> 
        <li> <a href="http://127.0.0.1:8000/accounts/logout/" class="button">  <span class="icon-cart"> </span> Solicitud de Ingredientes</a> </li>
        </ul> 
    </nav>

    <nav class="menuvertical">
        <ul class="ulmenus"> 
        <li> <a href="http://127.0.0.1:8000/accounts/logout/" class="button">  <span class="icon-exit"> </span> Cerrar Sesión</a> </li>
        </ul> 
    
    </nav>
</div>


{% endblock %}