{% extends 'plantillas/Restaurant.html' %}


{% block contenido %}
<H1 class="titulofinanciera">MENU Financiera</H1>
<div class="fondofinanciera">
    <nav class="menuvertical">
        <ul class="ulmenus"> 
        <li> <a href="http://127.0.0.1:8000">Calculos Movimientos</a> </li>
        </ul> 
    
    </nav>
    <nav class="menuvertical">
        <ul class="ulmenus"> 
        <li> <a href="http://127.0.0.1:8000">Calculos Ganancias</a> </li>
        </ul> 
    
    </nav>

    <nav class="menuvertical">
        <ul class="ulmenus"> 
        <li> <a href="http://127.0.0.1:8000/accounts/logout/">Emision Boleta</a> </li>
        </ul> 
    </nav>

    <nav class="menuvertical">
        <ul class="ulmenus"> 
        <li> <a href="http://127.0.0.1:8000/accounts/logout/">Ingresar Egresos</a> </li>
        </ul> 
    
    </nav>

    <nav class="menuvertical">
        <ul class="ulmenus"> 
        <li> <a href="http://127.0.0.1:8000/accounts/logout/">Logout</a> </li>
        </ul> 
    
    </nav>
</div>

{% endblock %}