{% extends 'plantillas/Restaurant.html' %}


{% block contenido %}

<div class="fondococinero" >
    {% if user.is_authenticated %}
    <H1 class="titulococinero">Bienvenido Cocinero: {{user.username}}</H1>
    {% endif %}
   
         
    <div class="divcentrado">
        
        <nav class="menuvertical">
            <ul class="ulmenus"> 
            <li> <a href="http://127.0.0.1:8000">  <span class="icon-spoon-knife"> </span> Pedidos</a> </li>
            </ul> 

            <ul class="ulmenus"> 
                <li> <a href="http://127.0.0.1:8000" >  <span class="icon-pushpin"> </span> Ingreso de Recetas</a> </li>
            </ul> 
            
            <ul class="ulmenus"> 
                <li> <a href="http://127.0.0.1:8000/accounts/logout/" >  <span class="icon-cart"> </span> Solicitud de Ingredientes</a> </li>
            </ul> 

            <ul class="ulmenus"> 
                <li> <a href="http://127.0.0.1:8000/accounts/logout/" >  <span class="icon-exit"></span> </span> Cerrar Sesión</a> </li>
            </ul> 

        </nav>

    </div>
    
</div>


{% endblock %}