{% extends 'plantillas/Restaurant.html' %}


{% block contenido %}
<H1 class="titulobodeguero">MENU Bodeguero</H1>
<div class="fondobodega">
    <nav class="menuvertical">
        <ul>
        <li> <a href="http://127.0.0.1:8000">Solicitudes Cocina</a> </li>
        </ul> 
    </nav>
    
    <nav class="menuvertical">
        <ul>
        <li> <a href="http://127.0.0.1:8000">Proveer Ingredientes</a> </li>
        </ul> 
    </nav>

    <nav class="menuvertical">
        <ul>
        <li> <a href="http://127.0.0.1:8000">Controlar Stock</a> </li>
        </ul> 
    </nav>
    
    <nav class="menuvertical">
        <ul>
        <li> <a href="http://127.0.0.1:8000">Solicitar Insumos</a> </li>
        </ul> 
    </nav>
     
    <nav class="menuvertical">
        <ul>
        <li> <a href="http://127.0.0.1:8000/accounts/logout/">Reponer Insumos</a> </li>
        </ul> 
    </nav>

    <nav class="menuvertical">
        <ul>
        <li> <a href="http://127.0.0.1:8000/accounts/logout/">Logout</a> </li>
        </ul> 
    </nav>
    
</div>

{% endblock %}