{% extends 'plantillas/Restaurant.html' %}


{% block contenido %}

<div class="fondocliente">
    {% if user.is_authenticated %}
    <H1 style="font-family: 'Handlee';" class="titulocliente">Bienvenido Cliente: {{user.username}}</H1>
    {% endif %}
    
    <div class="divcentrado">
        
        <nav class="menuvertical">
            <ul class="ulmenus"> 
                <li>  <a href="http://127.0.0.1:8000/reservaCliente"  > <span class="icon-tablet"></span> Realizar Reserva</a> </li>
            </ul> 

            <ul class="ulmenus"> 
                <li> <a href="http://127.0.0.1:8000/platillosCliente"  > <span class="icon-spoon-knife"></span> Ver Menú Del Restaurant</a> </li>
            </ul> 
            
            <ul class="ulmenus"> 
                <li> <a href="http://127.0.0.1:8000/accounts/logout/"  > <span class="icon-exit"></span>   Cerrar Sesión</a> </li>
            </ul> 

        </nav>

    </div>

</div>

{% endblock %}