{% extends 'plantillas/Restaurant.html' %}


{% block contenido %}

<div class="fondoadministrador">
    <H1 class="tituloadministrador">MENU Administrador:</H1>
    <nav class="menuvertical">
        <ul id="ulmenus">
        <li> <a href="http://127.0.0.1:8000">Inventario</a> </li>
        </ul> 
    </nav>

    <nav class="menuvertical">
        <ul id="ulmenus">
        <li> <a href="http://127.0.0.1:8000">Datos Mesa</a> </li>
        </ul> 
    </nav>

    <nav class="menuvertical">
        <ul id="ulmenus">
        <li> <a href="http://127.0.0.1:8000">Datos Clientes</a> </li>
        </ul> 
    </nav>

    <nav class="menuvertical">
        <ul id="ulmenus">
        <li> <a href="http://127.0.0.1:8000/accounts/logout/">Resumen</a> </li>
        </ul> 
    </nav>

    <nav class="menuvertical">
        <ul id="ulmenus">
        <li> <a href="http://127.0.0.1:8000/accounts/logout/">Cerrar Sesión</a> </li>
        </ul> 
    </nav>
</div>

{% endblock %}