<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" href="#">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
    <title>PROVEEDORES INACTIVOS</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/css/bootstrap.min.css" integrity="sha384-DhY6onE6f3zzKbjUPRc2hOzGAdEf4/Dz+WJwBvEYL/lkkIsI3ihufq9hk9K4lVoK" crossorigin="anonymous">
  
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/js/bootstrap.bundle.min.js" integrity="sha384-BOsAfwzjNJHrJ8cZidOg56tcQWfp6y72vEJ8xQ9w6Quywb24iOsW913URv1IS4GD" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10.0.2/dist/sweetalert2.min.css"> 
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap5.min.css">
          
    <!-- Los iconos tipo Solid de Fontawesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
    <script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Handlee" rel="stylesheet">
    <link rel="stylesheet" href="static/css/diseño2.css"> 
    <link rel="stylesheet" href="static/fonts/style.css">
  
    <style>
        table.dataTable thead {
        background-color:#262325;
        color:aliceblue;
        }     
        a{
            text-decoration: none;
            color: #fff;
        }
              
        .botonesFuncionalidades {background-color:#262325 ; color:white; border-color: #D35400; }
              
        .btn:hover{
            color: #D35400 ;
            background: black;
        }

        .container{
            background-color: #EEEEEE;
        }
    </style>
</head>
<body style="background: linear-gradient(to right,#40352C,#ffff);">
  <header>
    <div id="subheader">
        <div id="divlogo">
           <img class="logorest" src="/static/img/logo2.png" alt="logo de restaurant siglo XXI">
        </div>
         
        <nav style="padding-left: 850px;">
            <ul>
              <li> <a href="http://127.0.0.1:8000/accounts/logout/"> <span class="icon-exit"></span>   Cerrar Sesión</a>  </li>
            </ul> 
        </nav>

    </div>
  </header>

  {% if user.is_authenticated %}
  <H4  style ='color: #262325; text-align: right; font-size: 20px; margin: 0%; padding: 10px;'  class="tituloadministrador"> <span class="icon-users1"></span> Bienvenido Administrador: {{user.username}}</H4>
  {% endif %}
  <h2 style=" text-align: center;   width: auto; font-size: 45px;  font-family: 'Handlee';" >
    PROVEEDORES INACTIVOS
  </h2>
  <P></P>
  <div class="container-fluid">
        <div class="container">
            <button id="btnVolver" class="btn btn-dark mt-2"  onclick="location.href='http://127.0.0.1:8000/Inventario'"><i class="fa fa-arrow-circle-left" aria-hidden="true"></i> VOLVER</button>
        </div> 
        <div class="container">
            <div class="row shadow-lg p-3 mb-5">
                <div class="col-lg-12">
                    <div class="tables-responsive">
                        <table id="tablaProveedor" class="table table-striped table-bordered table-condensed" style="width:100%">
                            <thead class="text-center">
                                <tr>
                                    <th>CÓDIGO PROVEEDOR</th>
                                    <th>RUT</th>
                                    <th>NOMBRE</th>
                                    <th>DIRECCIÓN</th>
                                    <th>EMAIL</th>
                                    <th>TELÉFONO</th>
                                    <th>CAMBIAR ESTADO</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table> 
                    </div>
                </div>
            </div>
        </div>
  </div>

    <!--Modal confirmacion de pedido completado-->
    <div id="modalCambiar" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"></h5>                
                </div>
                <form id="formConfirmacion">    
                    <div class="modal-body">      
                
                        <p class="text-center">¿ESTÁ SEGURO DE CAMBIAR ESTADO DEL PROVEEDOR?</p>

                                
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        <button type="submit" id="btnConfirmar" class="btn btn-dark">Confirmar</button>
                    </div>
                </form>    
            </div>
        </div>
    </div> 
    

    <script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/js/bootstrap.min.js" integrity="sha384-5h4UG+6GOuV9qXh6HqOLwZMY4mnLPraeTrjT5v07o347pj6IkfuoASuGBhfDsp3d" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.0.2/dist/sweetalert2.all.min.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap5.min.js"></script>  


    <script type="text/javascript">
        $(document).ready(function(){
        let url = 'https://cors-anywhere.herokuapp.com/34.233.79.205/api/Proveedor/inactivos';
        let urlCambiar1 = 'https://cors-anywhere.herokuapp.com/34.233.79.205/api/proveedor/dejaractivo/';
        let opcion = null;
        let idProveedor, rut, nombre, dirección, email, telefono, fila;
        //MOSTRAR
        let tablaProveedor = $('#tablaProveedor').DataTable({
          "ajax":{
            "url":url,
            "dataSrc":""
          },
          "columns":[
              {"data":"idProveedor","className": "text-center","width": "10%"},
              {"data":"rut","className": "text-center","width": "10%"},
              {"data":"nombre"},
              {"data":"direccion"},
              {"data":"email"},
              {"data":"telefono","className": "text-center","width": "10%"},
              {"defaultContent": "<div class='text-center'><div class='btn-group'> <button class=' btn btn-default botonesFuncionalidades btn-sm btnCambiar'> ACTIVO </button>"},
          ], 
          //Para cambiar idioma a español del datatable
          "language":{
              "lengthMenu": "Mostrar _MENU_ registros",
              "zeroRecords": "No se encontraron resultados",
              "info": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
              "infoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
              "infoFiltered": "(filtrado de un total de _MAX_ registros)",
              "sSearch": "Buscar Proveedor:",
              "searchPlaceholder": "Dato a buscar",
              "oPaginate":{
                "sFirst": "Primero",
                "sLast":"Último",
                "sNext":"Siguiente",
                "sPrevious": "Anterior"
              },
              "sProcessing":"Procesando...",
          },
          dom: 'Bfrtip',
            
        });
        
        //Actualizar estado
        $(document).on("click", ".btnCambiar", function(){
            opcion='cambiar';		            
            fila = $(this).closest("tr");	
            idProveedor = parseInt(fila.find('td:eq(0)').text());    
            $("#formConfirmacion").trigger("reset");         
            $(".modal-header").css("background-color", "#c75407");
            $(".modal-header").css("color", "white" );
            $(".modal-title").text("PROCESO DE ACTIVACIÓN");	
            $('#modalCambiar').modal('show');		   
        });
        
        $('#formConfirmacion').submit(function(e){    
            //header.Add('Access-Control-Allow-Origin *');                      
            e.preventDefault();  
                
            if(opcion=='cambiar'){
                
                $.ajax({                    
                    url: urlCambiar1+idProveedor,
                    method: 'put',                                        
                    contentType: 'application/json',  
                    data:  JSON.stringify({ }),                       
                    success: function(data) {                       
                        tablaProveedor.ajax.reload(null, false);                        
                    }
                });	
            }  
            $('#modalCambiar').modal('hide');			 				     			
        }); 
        
      });
    </script>
    
</body>

<footer>
       
  <div class="container-footer-all">
  
      <div class="container-body">

          <div class="colum1">
              <h1>Mas información del Restaurante</h1>

              <p> Esta empresa se dedica a la venta de comida casera para 
                  todos los gustos y todos los clientes. Tiene una trayectoria de más 40 años de servicio 
                  destacándose por su calidad y delicadeza en la preparación. "RestaurantSigloXXI" 
              </p>

          </div>

          <div class="colum2">

              <h1>Redes Sociales</h1>

              <div class="row2">
                  <img src="/static/img/icon/Facebook.png">
                  <label>Siguenos en Facebook</label>
              </div>
              <div class="row2">
                  <img src="/static/img/icon/twitter.png">
                  <label>Siguenos en Twitter</label>
              </div>
              <div class="row2">
                  <img src="/static/img/icon/instagram.png">
                  <label>Siguenos en Instagram</label>
              </div>
              <div class="row2">
                  <img src="/static/img/icon/google-plus.png">
                  <label>Siguenos en Google Plus</label>
              </div>
              <div class="row2">
                  <img src="/static/img/icon/pinterest.png">
                  <label>Siguenos en Pinteres</label>
              </div>


          </div>

          <div class="colum3">

              <h1>Información Contactos</h1>

              <div class="row2">
                  <img src="/static/img/icon/house.png">
                  <label>El Roble, 
                  Calle Vicente Bustillos
                  Enrique Campino
                  Casa # 155</label>
              </div>

              <div class="row2">
                  <img src="/static/img/icon/smartphone.png">
                  <label>+569-97681778</label>
              </div>

              <div class="row2">
                  <img src="/static/img/icon/contact.png">
                  <label>RestaurantSiglo21@gmail.com</label>
              </div>

          </div>

      </div>
  
  </div>
  
  <div class="container-footer">
      <div class="footer">
              <div class="copyright">
                  © 2020 Todos los Derechos Reservados | <a href="">Lucero</a>
              </div>

              <div class="information">
                <a href="">Información Compañía</a> | <a href="">Privación y Política</a> | <a href="">Términos y Condiciones</a>
              </div>
          </div>

  </div>
   
</footer>
</html>