{% extends 'plantillas/Restaurant.html' %}


{% block contenido %}

<div class="fondocliente">
    {% if user.is_authenticated %}
    <H1 class="titulocliente">Bienvenido Cliente: {{user.username}}</H1>
    {% endif %}
    
    <nav class="menuvertical">
        <ul>
        <li> <a href="http://127.0.0.1:8000/accounts/logout/">Realizar Reserva</a> </li>
        </ul> 
    
    </nav>

    <nav class="menuvertical">
        <ul>
        <li> <a href="http://127.0.0.1:8000/accounts/logout/">Cerrar Sesión</a> </li>
        </ul> 
    
    </nav>
</div>

{% endblock %}