{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <title>Restaurant Siglo XXI</title>
     
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Handlee" rel="stylesheet">
    
    <script src="/static/js/jquery.js"></script>
	<script src="/static/js/jquery.flexslider.js"></script>
    <script src="/static/js/main.js"></script>
    <script defer src="/static/js/galeriacarrusel.js"></script>
    
    <script src="/static/js/validacion2.js"></script>
    <script src="/static/js/sweetalert.min.js"></script>  
    
    {% block css %}
    <link rel="stylesheet" href="{% static 'css/diseño2.css' %}"> 
    {% endblock %}
    <link rel="stylesheet" href="{% static 'css/slider3.css' %}">

</head>


<body class="fondo">
    
    <header>
       <div id="subheader">
           <div id="divlogo">
              <img class="logorest" src="/static/img/logo2.png" alt="logo de restaurant siglo XXI">
            </div>
            
            <nav >
                <ul>
                  <li> <a href="http://127.0.0.1:8000">Inicio</a> </li>
                  <li> <a href="http://127.0.0.1:8000/registro">Registro</a> </li>
                  <li> <a href="http://127.0.0.1:8000/reserva">Reserva</a> </li>
                  <li> <a href="http://127.0.0.1:8000/accounts/login/">Iniciar Sesión</a> </li>
                </ul> 
              
            </nav>
        </div>
    </header>
    {% block contenido %}
    <section class="flexslider">
        <ul class="slides">

            <li>
                <img class="imgslider" src="/static/img/carrusel/restaurant.jpg" alt="img1">
                <section  class="caption">
                    <h2></h2>
                </section>
            </li>

            <li>
                <img class="imgslider" src="/static/img/carrusel/res.jpg" alt="img2">
                <section class="caption">
                    <h2></h2> 
                </section>
            </li>

            <li>
                <img class="imgslider" src="/static/img/carrusel/restaurant.jpg" alt="img3">
                <section class="caption">
                    <h2></h2>
                </section>
            </li>

            <li>
                <img class="imgslider" src="/static/img/carrusel/res.jpg" alt="img4">
                <section class="caption">
                    <h2></h2>
                </section>
            </li>


        </ul>
                      
    </section>
    
    <section id="wrap">
       
        <section id="contenido">

            <article  id="artinovacion">
                <div class="page-header">
                    <h2 class="titulos">Bienvenidos a Restaurant Siglo XXI</h2>
                </div>
               
                <br>
                <h4 class="subtitulos">Llevamos 40 años satisfaciendo el paladar de nuestros clientes</h4>
                <br>
                <br>
                <p class="parrafos">
                    Nuestro restaurant siglo XXI, prepara los platillos con la mejor 
                    calidad gracias a sus ingredientes selectos y a los profesionales puestos a servició para su preparación
                </p>
                <br>
                <br>
                <p class="parrafos">
                    Tenemos  vasta experiencia en nuestro rubro ya que orgullosos llevamos más de 40 años satisfaciendo a nuestros clientes, 
                    seguiremos mejorando día tras día para seguir cautivando sus paladares y corazones. 
                     Visítanos en nuestro restaurant para que sientas en carne propia este procesó con toque de delicadeza y  pasión 
                </p>
                <br>
                <br>
                <div id="divplatomenu">
                    <img class=imgplatomenu src="/static/img/carrusel/comidacontenido.png" alt="imagen contenido restaurant">
                </div>
                    
            </article>

        </section>
        
        <section id="galeriamain">
            <div id="titulogaleria">
                
                <h2>NUESTROS MEJORES Y SELECTOS PLATILLOS DESTACADOS POR LOS CLIENTES</h2>
                
            </div> 

            <div id="galeria">
            
                <div class="contgaleria">
                 <img class="imgcomi" src="/static/img/galeria/comida1.png" alt="img platillo1"><br>
                 <label>Camarones a la parmesana</label>
                 <p class="caracteristicas">  Ingredientes = sadlepomsjiospe ske spse <br>Precio = $15.000 </p>
                 <div class="butimg"><a target="_blank" href="/static/img/galeria/comida1.png">Ver Platillo</a></div>
                </div>
                <br>
                <div class="contgaleria">
                    <img class="imgcomi" src="/static/img/galeria/comida2.png" alt="img platillo2"><br>
                    <label>Porotos Chiloe</label>
                    <p class="caracteristicas"> Ingredientes = sadlepomsjiospe ske spse <br>Precio = $8.000 </p>
                    <div class="butimg"><a target="_blank" href="/static/img/galeria/comida2.png">Ver Platillo</a></div>
                </div>

            </div>

        </section>
        
    </section>
    
   
</body>
    
         

<section class="sectioncarrusel">
    <div class="Carousel">
        <h2 class="titulocarrusel">Nuestros Platillos Tipicos Y Sus Precios</h2>
        <div class="slick-list" id="slick-list">
            <button class="slick-arrow slick-prev" id="button-prev">
                <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-left" class="svg-inline--fa fa-chevron-left fa-w-10" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path fill="currentColor" d="M34.52 239.03L228.87 44.69c9.37-9.37 24.57-9.37 33.94 0l22.67 22.67c9.36 9.36 9.37 24.52.04 33.9L131.49 256l154.02 154.75c9.34 9.38 9.32 24.54-.04 33.9l-22.67 22.67c-9.37 9.37-24.57 9.37-33.94 0L34.52 272.97c-9.37-9.37-9.37-24.57 0-33.94z"></path></svg>
            </button>
            <div class="slick-track" id="track">
                <div class="slick">
                    <div>
                        <a target="_blank" href="/static/img/galeria/comida1.png">
                            <h4><small>Camarones a la parmesana</small>$15.000</h4>
                            <picture>
                                <img src="/static/img/galeria/comida1.png" alt="Image">
                            </picture>
                        </a>
                    </div>
                </div>
                <div class="slick">
                    <div>
                        <a target="_blank" href="/static/img/galeria/comida2.png">
                            <h4><small>Porotos Chiloe</small>$10.000</h4>
                            <picture>
                                <img src="/static/img/galeria/comida2.png" alt="Image">
                            </picture>
                        </a>
                    </div>
                </div>
                <div class="slick">
                    <div>
                        <a target="_blank" href="/static/img/galeria/comida3.png">
                            <h4><small>Carne de vacuno ahumada con jugo de huenchivaca</small>$8.000</h4>
                            <picture>
                                <img src="/static/img/galeria/comida3.png" alt="Image">
                            </picture>
                        </a>
                    </div>
                </div>
                <div class="slick">
                    <div>
                        <a target="_blank" href="/static/img/galeria/comida4.png">
                            <h4><small>Arroz carmesi con salsa de ares</small>$14.000</h4>
                            <picture>
                                <img src="/static/img/galeria/comida4.png" alt="Image">
                            </picture>
                        </a>
                    </div>
                </div>
                <div class="slick">
                    <div>
                        <a target="_blank" href="/static/img/galeria/comida5.png">
                            <h4><small>Curanto con chapalele</small>$18.000</h4>
                            <picture>
                                <img src="/static/img/galeria/comida5.png" alt="Image">
                            </picture>
                        </a>
                    </div>
                </div>
                <div class="slick">
                    <div>
                        <a target="_blank" href="/static/img/galeria/comida6.png">
                            <h4><small>Cerdo ahumado con kilanesa</small>$8.500</h4>
                            <picture>
                                <img src="/static/img/galeria/comida6.png" alt="Image">
                            </picture>
                        </a>
                    </div>
                </div>
                <div class="slick">
                    <div>
                        <a target="_blank" href="/static/img/galeria/comida5.png">
                            <h4><small>Share Your Message</small>$7.000</h4>
                            <picture>
                                <img src="/static/img/galeria/comida5.png" alt="Image">
                            </picture>
                        </a>
                    </div>
                </div>
                <div class="slick">
                    <div>
                        <a target="_blank" href="/static/img/galeria/comida5.png">
                            <h4><small>Share Your Message</small>Watch</h4>
                            <picture>
                                <img src="/static/img/galeria/comida5.png" alt="Image">
                            </picture>
                        </a>
                    </div>
                </div>
                <div class="slick">
                    <div>
                        <a target="_blank" href="/static/img/galeria/comida5.png">
                            <h4><small>Share Your Message</small>Watch</h4>
                            <picture>
                                <img src="/static/img/galeria/comida5.png" alt="Image">
                            </picture>
                        </a>
                    </div>
                </div>
                <div class="slick">
                    <div>
                        <a target="_blank" href="/static/img/galeria/comida5.png">
                            <h4><small>Share Your Message</small>Watch</h4>
                            <picture>
                                <img src="/static/img/galeria/comida5.png" alt="Image">
                            </picture>
                        </a>
                    </div>
                </div>
                <div class="slick">
                    <div>
                        <a target="_blank" href="/static/img/galeria/comida5.png">
                            <h4><small>Share Your Message</small>Watch</h4>
                            <picture>
                                <img src="/static/img/galeria/comida5.png" alt="Image">
                            </picture>
                        </a>
                    </div>
                </div>
                <div class="slick">
                    <div>
                        <a target="_blank" href="/static/img/galeria/comida5.png">
                            <h4><small>Share Your Message</small>Watch</h4>
                            <picture>
                                <img src="/static/img/galeria/comida5.png" alt="Image">
                            </picture>
                        </a>
                    </div>
                </div>
                <div class="slick">
                    <div>
                        <a target="_blank" href="/static/img/galeria/comida5.png">
                            <h4><small>Share Your Message</small>Watch</h4>
                            <picture>
                                <img src="/static/img/galeria/comida5.png" alt="Image">
                            </picture>
                        </a>
                    </div>
                </div>
                <div class="slick">
                    <div>
                        <a target="_blank" href="/static/img/galeria/comida5.png">
                            <h4><small>Share Your Message</small>Watch</h4>
                            <picture>
                                <img src="/static/img/galeria/comida5.png" alt="Image">
                            </picture>
                        </a>
                    </div>
                </div>
                <div class="slick">
                    <div>
                        <a target="_blank" href="/">
                            <h4><small>Share Your Message</small>Watch</h4>
                            <picture>
                                <img src="/static/img/galeria/comida5.png" alt="Image">
                            </picture>
                        </a>
                    </div>
                </div>
            </div>
            <button class="slick-arrow slick-next" id="button-next">
                <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-right" class="svg-inline--fa fa-chevron-right fa-w-10" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path fill="currentColor" d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z"></path></svg>
            </button>
        </div>
    </div>
    
    
</section>


<div class="contador"> 
    <h3>Contador de Paginas Restaurant Siglo XXI</h3>
    <div id="sfcupa5r84jdyfpd6yx9ucfn599j37er1gj"></div><script type="text/javascript" src="https://counter11.stat.ovh/private/counter.js?c=upa5r84jdyfpd6yx9ucfn599j37er1gj&down=async" async></script><noscript><a href="https://www.contadorvisitasgratis.com" title="contadores de visitas"><img src="https://counter11.stat.ovh/private/contadorvisitasgratis.php?c=upa5r84jdyfpd6yx9ucfn599j37er1gj" border="0" title="contadores de visitas" alt="contadores de visitas"></a></noscript>
</div>

{% endblock %}

<footer>
       
    <div class="container-footer-all">
    
        <div class="container-body">

            <div class="colum1">
                <h1>Mas información del Restaurante</h1>

                <p> Esta empresa se dedica a la venta de comida casera para 
                    todos los gustos y todos los clientes. Tiene una trayectoria de más 40 años de servicio 
                    destacándose por su calidad y delicadeza en la preparación. "RestaurantSigloXXI" 
                </p>

            </div>

            <div class="colum2">

                <h1>Redes Sociales</h1>

                <div class="row">
                    <img src="/static/img/icon/Facebook.png">
                    <label>Siguenos en Facebook</label>
                </div>
                <div class="row">
                    <img src="/static/img/icon/twitter.png">
                    <label>Siguenos en Twitter</label>
                </div>
                <div class="row">
                    <img src="/static/img/icon/instagram.png">
                    <label>Siguenos en Instagram</label>
                </div>
                <div class="row">
                    <img src="/static/img/icon/google-plus.png">
                    <label>Siguenos en Google Plus</label>
                </div>
                <div class="row">
                    <img src="/static/img/icon/pinterest.png">
                    <label>Siguenos en Pinteres</label>
                </div>


            </div>

            <div class="colum3">

                <h1>Informacion Contactos</h1>

                <div class="row2">
                    <img src="/static/img/icon/house.png">
                    <label>El Roble, 
                    Calle Vicente Bustillos
                    Enrique Campino
                    Casa # 155</label>
                </div>

                <div class="row2">
                    <img src="/static/img/icon/smartphone.png">
                    <label>+569-97681778</label>
                </div>

                <div class="row2">
                    <img src="/static/img/icon/contact.png">
                    <label>RestaurantSiglo21@gmail.com</label>
                </div>

            </div>

        </div>
    
    </div>
    
     <div class="container-footer">
            <div class="footer">
                 <div class="copyright">
                     © 2020 Todos los Derechos Reservados | <a href="">Lucero</a>
                 </div>

                 <div class="information">
                     <a href="">Informacion Compañia</a> | <a href="">Privacion y Politica</a> | <a href="">Terminos y Condiciones</a>
                 </div>
             </div>

         </div>
     
 </footer>

</html>